
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/migrations/
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/uploads/drive/personals/
/public/uploads/drive/promos/
/public/uploads/messageImages/

/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
