<meta charset="utf-8" />
<title>{{ (title) ? title|trans : '' }} | HubG4</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Plateforme HubG4" name="description" />
<meta content="HubG4" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="/images/favicon.ico">