<!-- end row -->
<div id="renameFolder" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Renomer un dossier</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="renameFolderForm">
            <div class="modal-body">
                
                    <div class="mb-3">
                        <label for="renameFolderFormInput" class="form-label">Nom du dossier</label>
                        <input class="form-control" type="text" id="renameFolderFormInput">
                    </div>

                    <input type="hidden" id="addNewFolderFormId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary waves-effect waves-light">Renomer</button>
            </div>
        </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->